section#fantasias {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #402659;
  padding: 2rem;
  gap: 2rem;
  h2 {
    background: linear-gradient(to bottom, #732eb8, #f06e42);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Creepster";
    font-size: 3.5em;
  }
  p {
    color: #beb4a7;
  }

  div.cards-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    gap: 2rem;
    div.card {
      background-color: #211e1c;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      border-radius: 10px;
      cursor: default;
      transition: 0.3s;

      &:hover {
        transform: translateY(-5%);
      }
      span {
        font-size: 3rem;
      }
      div.info {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          color: #fff;
          font-size: 1.5rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }

  div.concurso-container {
    background-color: #211e1c80;
    border-radius: 15px;
    border: 1px solid #f06e4233;
    padding: 1rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    h4 {
      color: #f06e42;
      font-size: 2rem;
    }
    p {
      color: #beb4a7;
      font-size: 1rem;
    }
    button {
      background-color: #f06e42;
      border: none;
      padding: 0.5rem;
      border-radius: 10px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      transition: 0.3s;

      &:hover {
        background-color: #d36039;
      }
    }
  }
}
