footer{
    width: 100%;
    background-color: #181616;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BEB4A7;
    border-top: 1px solid black;
}