section#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../assets/banner.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.55);
    z-index: -1;
  }

  div.icons {
    display: flex;
    color: white;
    position: absolute;
    top: 10%;
    padding: 1rem 2rem;
    justify-content: space-between;
    width: 100%;
    font-size: 2.5rem;
  }

  div.cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    div.cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        background: linear-gradient(to bottom, #732eb8, #f06e42);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Creepster";
        font-size: 6em;
      }
      h2 {
        color: #fff;
        font-size: 2em;
      }

      p {
        color: #beb4a7;
        font-size: 1.25em;
      }
    }

    div.cta-btns {
      display: flex;
      gap: 2rem;
      a {
        font-weight: bold;
        border-radius: 5px;
        padding: 0.4rem 0.2rem;
        color: #000000;
        background-color: #f06e42;
        transition: 0.3s;
        &:hover {
          background-color: #ca6442;
          color: #fff;
        }
      }
    }
  }
}
