section#ingresso {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  gap: 3rem;

  div.tittle{
    text-align: center;
    p{
      color: white;
    }
  }

  h1 {
    background: linear-gradient(to bottom, #732eb8, #f06e42);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Creepster";
    font-size: 3em;
  }

  form {
    width: 45%;
    background-color: #322d2a80;
    padding: 1rem 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3rem;
    color: white;

    div {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;

      input {
        background-color: #181616;
        border: 1px solid #000;
        border-radius: 15px;
        padding: 0.2rem 0.5rem;
      }

      select {
        background-color: #d9d9d9;
        border-radius: 15px;
        cursor: pointer;
      }

      textarea {
        background-color: #000000;
        color: white;
        padding: 0.8rem 0.3rem;
        border-radius: 15px;
      }
    }

    button {
      background-color: #f06e42;
      border-radius: 15px;
      border: transparent;
      padding: 0.35rem;
      cursor: pointer;
    }
  }
}
